{% extends "base.html.twig" %}

{% block title %}Spectacle
	{{spectacle.title}}
{% endblock %}

{% block content %}
	<h1>{{spectacle.title}}</h1>
	<ul>
		<li>Titre :{{spectacle.title}}</li>
		<li>Description:{{spectacle.description}}</li>
		<li>Scénariste :{{spectacle.director}}</li>
	</ul>
	{# {% if user %} #}
		<form method="post" action="{{ basePath }}/spectacles/reservation">
			<input type="hidden" name="spectacle_id" value="{{ spectacle.id }}">
			<div>
				<label for="reservation_date">Date de réservation</label>
				<input type="date" id="reservation_date" name="reservation_date" required>
				{% if errors.reservation_date is defined %}
					<div class="error" style="color: red;">{{ errors.reservation_date }}</div>
				{% endif %}
			</div>
			<button type="submit">Réserver</button>
		</form>
	{# {% else %} #}
		<p>Connectez-vous pour réserver</p>
	{# {% endif %} #}

{% endblock %}
