<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site de Spectacles{% endblock %}</title>
    {# Vous pouvez ajouter vos liens CSS ici #}
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>

    <nav style="padding: 1rem 2rem;">
        <ul>
            <li><strong>SpecTax</strong></li>
        </ul>
        <ul>
            <li><a href="{{ basePath }}/spectacles" class="contrast">Spectacles</a></li>
            <li><a href="{{ basePath }}/home" class="contrast">Accueil</a></li>
            {% if user %}
                <details class="dropdown">
                    <summary>
                    Compte
                    </summary>
                    <ul dir="rtl">
                        <li><a href="{{ basePath }}/profil" class="contrast">Mon Profil</a></li>
                        <li><a href="{{ basePath }}/logout" class="contrast">Déconnexion</a></li>
                    </ul>
                </details>
            {% else %}
                <li><a href="{{ basePath }}/login" class="contrast">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        {# C'est ici que le contenu des autres pages sera injecté #}
        {% block content %}{% endblock %}
    </main>

</body>
</html>
