{% extends "base.html.twig" %}

{% block title %}Profil
{% endblock %}

{% block content %}

{% if user.twoFactorMethod != "none" %}
  <p>
    <strong>🔐 2FA Activé avec {{ user.twoFactorMethod }}</strong> 
    - <a href="{{ basePath }}/disable-2fa" onclick="return confirm('Êtes-vous sûr de vouloir désactiver la 2FA ?')">Désactiver</a>
  </p>
{% else %}
  <a href="{{ basePath }}/enable-2fa">Activer 2FA</a>
{% endif %}

	<h2>Vos réservations</h2>

	{% if reservation is not empty %}
		<ul>
			{% for reservation in reservation %}
				<li>
					<strong>{{ reservation.title }}</strong><br>
					{{ reservation.description }}<br>
					Réservé pour le : {{ reservation.date|date('d/m/Y') }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Vous n'avez aucune réservation.</p>
	{% endif %}

{% endblock %}
